.c-split-section {
  border-top: 1px solid var(--color-border);
  padding-top: var(--margin);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--margin-l) var(--column-gutter);
  align-items: start;
}

.c-split-section__label {
  margin: 0;
  font-weight: 400;
  opacity: var(--opacity-text);
}

.c-split-section__content {
  max-width: var(--max-text-width);
}

@media (--m) {
  .c-split-section {
    grid-template-columns: repeat(var(--grid-columns-count), 1fr);
    gap: var(--margin-l) var(--column-gutter);
  }

  .c-split-section__label {
    grid-column: span 6;
  }

  .c-split-section__content {
    grid-column: span 6;
  }
}

@media (--s-m-max) {
  .c-split-section {
    grid-template-columns: 1fr;
    gap: var(--margin-l);
  }

  .c-split-section__label,
  .c-split-section__content {
    grid-column: 1 / -1;
  }
}
