:root {
    --z-below: -999;
    --z-spawn: 1;
    --z-spawn-hover: 2;
    --z-section-page: 3;

    --z-sticky: 900;
    --z-sticky-nav: 900;
    --z-curtain: 902;
    --z-overlay: 903;
    --z-overlay-button: 904;

    --z-header-dropdown: 904;
    --z-header: 905;
    --z-lightbox: 906;
    --z-preloader: 907;
}
